$color: blue;
body {
    a {
        color: $color;
    }
}

@mixin rounded-corners($size: 5px) {
    border-radius: $size;
}
notice {
    background-color: green;
    border: 2px solid #00aa00;
    @include rounded-corners(12px);
}
