.song-list-item {
  padding-left: 10px;

  .am-list-line-multiple {
    padding: 6px 10px 6px 0;

    .am-list-brief {
      margin-top: 0;
      font-size: 12px;
      color: #888;
    }

    .am-list-extra {
      flex-basis: auto;
    }
  }

  .music-alias {
    color: #888;
    margin-left: 4px;
  }

  .play-btn {
    display: inline-block;
    width: 22px;
    height: 22px;
    background-position: -24px 0;
    background-image: url("../../common/icon/index_icon_2x.png");
    background-size: 166px 97px;
  }
}