@import "../../common/scss/mixin";

.hot-view {
  overflow: hidden!important;

  .hot-banner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 38.9vw;
    padding-left: 20px;
    @include bg-img('../../common/icon/hot_music_bg', contain);

    &:after {
      content: ' ';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      background-color: rgba(0, 0, 0, .2);
    }

    .banner-logo {
      position: relative;
      width: 142px;
      height: 67px;
      z-index: 10;
      background: url('../../common/icon/index_icon_2x.png') no-repeat;
      background-position: -24px -30px;
      background-size: 166px 97px;
    }

    .banner-update {
      position: relative;
      margin-top: 10px;
      color: hsla(0, 0%, 100%, .8);
      z-index: 10;
      font-size: 12px;
      transform: scale(0.91);
      transform-origin: left top;
    }
  }

  .hot-music-list {
    display: flex;
    width: 100vw;

    .hot-music-rank {
      flex: 0 0 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      font-size: 17px;
      color: #999;
      text-align: center;
    }

    &:nth-child(-n + 3) {
      .hot-music-rank {
        color: rgb(240, 20, 20);
      }
    }

    .hot-music-item {
      flex: 1;
      min-width: 100px;
    }
  }

  .pull-up-label {
    height: 35px;
    line-height: 35px;
    font-size: 18px;
    color: #999;
    text-align: center;
  }
}