<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <input type="text" placeholder="输入代办项" v-model="newTodoText" />
            <button @click="addTodo">增加TODO项</button>

            <ul>
                <li
                    v-for="(todo, index) in todos"
                    :key="index"
                    :style="{textDecoration: todo.complated?'line-through': 'none'}"
                >
                    {{todo.text}}
                    <button @click="delTodo(index)">del</button>
                </li>
            </ul>
        </div>

        <script>
            var app = new Vue({
                el: "#app",
                data: {
                    newTodoText: "",
                    todos: [
                        {
                            complated: true,
                            text: "代办项1",
                        },
                        {
                            complated: false,
                            text: "代办项2",
                        },
                    ],
                },
                methods: {
                    addTodo: function () {
                        // 
                        // todos数组状态追加  push  变异方法 改变原始数组 视图可以正常更新
                        this.todos.push({ complated: false, text: this.newTodoText });
                        // 清空输入
                        this.newTodoText = "";
                    },
                    delTodo: function (index) {
                        // 
                        // 根据index 删除数组项
                        this.todos.splice(index, 1);
                    },
                },
            });
        </script>

        <!-- 作业 双击 todo项 完成当前todo项 -->
    </body>
</html>
