<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <!-- <div id="app">
            <h1 v-if="awesome">Vue is awesome!</h1>
            <h3 v-else>Oh no 😢</h3>
        </div>
        <script>
            var app = new Vue({
                el: "#app",
                data: {
                    awesome: true,
                },
            });
        </script> -->

        <div id="app">
            <!-- 这里会渲染出来 div -->
            <!-- <div v-if="seen">
                <h1>Title</h1>
                <p>Paragraph 1</p>
                <p>Paragraph 2</p>
            </div> -->

            <!-- <template> 元素当做不可见的包裹元素，并在上面使用 v-if。
                最终的渲染结果将不包含 <template> 元素。 -->
            <template v-if="seen">
                <h1>Title</h1>
                <p>Paragraph 1</p>
                <p>Paragraph 2</p>
            </template>

            <!-- v-else 元素必须紧跟在带 v-if 或者 v-else-if 的元素的后面 -->
            <div v-if="Math.random() > 0.5">Now you see me</div>
            <div v-else>Now you don't</div>
            <hr />

            <div v-if="Math.random() > 0.5">Now you see me</div>
            <div v-show="Math.random() > 0.5">Now you see me</div>
            <!-- v-show只是根据条件简单切换显隐 v-if根据条件渲染元素 -->
            <!-- v-show 不支持 <template> 元素，也不支持 v-else -->
        </div>

        <!-- 
        v-if vs v-show
        v-if 是“真正”的条件渲染，因为它会确保在切换过程中条件块内的事件监听器和子组件适当地被销毁和重建。
        v-if 也是惰性的：如果在初始渲染时条件为假，则什么也不做——直到条件第一次变为真时，才会开始渲染条件块。
        相比之下，v-show 就简单得多——不管初始条件是什么，元素总是会被渲染，并且只是简单地基于 CSS 进行切换。
        一般来说，v-if 有更高的切换开销，而 v-show 有更高的初始渲染开销。因此，如果需要非常频繁地切换，则使用 v-show 较好；如果在运行时条件很少改变，则使用 v-if 较好。
        -->

        <!--  -->
        <!-- 浏览器同域名请求的最大并发数限制  性能优化减少文件数量 -->
        <script>
            var app = new Vue({
                el: "#app",
                data: {
                    seen: false,
                },
            });
        </script>

        <hr />
        <!-- 用 key 管理可复用的元素 -->
        <div id="app2">
            <template v-if="loginType === 'username'">
                <label for="username">Username</label>
                <input id="username" name="username" key="username" placeholder="Enter your username" />
            </template>
            <template v-else>
                <label for="email">Email</label>
                <input id="email" name="email" key="email" placeholder="Enter your email address" />
            </template>
            <button @click="ToggleLoginType">Toggle loginType</button>
        </div>
        <script>
            var app2 = new Vue({
                el: "#app2",
                data: {
                    loginType: "username",
                },
                methods: {
                    ToggleLoginType: function () {
                        this.loginType = this.loginType === "username" ? "" : "username";
                    },
                },
            });
            // 两个模板使用了相同的元素，<input> 不会被替换掉
            // 这两个元素是完全独立的，不要复用它们  key

            // 不推荐同时使用 v-if 和 v-for    如果一起使用for更优先
            // 如果需要嵌套 <template></template>
        </script>
    </body>
</html>
