<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <!-- 声明式渲染 {{key}}  innerText -->
        <div id="app">
            <h1>{{title}}</h1>
            <p>{{message}}</p>
        </div>
        <script>
            let app = new Vue({
                el: "#app",
                // Property or method "title" is not defined  数据（状态）不对
                data: {
                    title: "I am title",
                    message: "I am content",
                },
                // 响应式数据 只要data里面的数据（状态）发生变化 引起视图重新渲染
            });
        </script>

        <!--  -->

        <!-- 绑定属性 attribute  dom.src  v-bind:title动态属性 -->
        <div id="app2">
            <span v-bind:title="message" class="xxx">
                鼠标悬停几秒钟查看此处动态绑定的提示信息！
            </span>
        </div>
        <script>
            let app2 = new Vue({
                el: "#app2",
                // Property or method "title" is not defined  数据（状态）不对
                data: {
                    message: new Date(),
                },
                // 响应式数据 只要data里面的数据（状态）发生变化 引起视图重新渲染
            });

            setInterval(() => {
                app2.message = new Date();
            }, 1000);
        </script>

        <hr />
        <!--  -->

        <!-- v-if  -->
        <div id="app3">
            <span v-if="seen">控制切换一个元素是否显示</span>
        </div>
        <script>
            let app3 = new Vue({
                el: "#app3",
                data: {
                    seen: true,
                },
            });
        </script>

        <hr />
        <!-- v-for  -->
        <div id="app4">
            <ul>
                <li v-for="item in friends">{{item}}</li>
            </ul>
            <hr />
            <ol>
                <li v-for="todo in todos">{{todo.text}}</li>
            </ol>
        </div>
        <script>
            let app4 = new Vue({
                el: "#app4",
                data: {
                    friends: ["小红", "小兰", "小花"],
                    todos: [{ text: "学习 JavaScript" }, { text: "学习 Vue" }, { text: "整个牛项目" }],
                },
            });

            // [1, 2, 3, 4].forEach((element) => {});
            // 改变状态（数据） 视图自动更新
            // push pop unshift shift
            app4.todos.push({ text: "新项目" });
            app4.friends.splice(1, 1);
        </script>
    </body>
</html>
